.bighead {
    position: static;
    background: url(http://www.jb.man.ac.uk/astronomy/nightsky/M35.jpg);
    background-size: 100%;
    background-
}

div {
    background-color: red;
}

#img1 {
    border-bottom-right-radius:  200px;
    border-top-left-radius: 200px;
    background-color: red;
    margin-left: 25px;
    margin-right: 25px;
}

#img2{
    border-bottom-left-radius:  200px;
    border-top-right-radius: 200px;
    background-color: red;
    margin-left: 25px;
    margin-right: 25px;
}

h2 {
    background-color: blue;
    font-family: Georgia, serif;
    text-align: left;
}

h1 {
    background: url('us.jpg');
    text-align: center;
    color: red;
    font-size: 50px;
    text-shadow: 5px 5px gray;
    font-family: Georgia, serif;
    font-style: italic;
}

footer {
    background-color: blue;
}

#nav {
    background-color: white;
}